{% extends "layout.html" %}

{% block content %}

<div class="container hompage_content ">
  <div class="row">
    <div class="col-md-12">
           <h1 class="title">ADVENTNÍ KALENDÁŘ</h1>
           <p>Zažijte tu tolik očekávanou atmosféru Vánoc plnou radost, klidu a pohody na vlastní kůži.<br>
           Nenechte se rozhodit stresem, shonem a nekonečným ruchem. </p>
          </div>
        </div>
    </div>
  </div>
</div>
<br>
<div class="card-deck hompage_content">
<a href="{{ url_for('sdetmi') }}" class="col-sm text-white custom-card"style="width: 18rem;">
        <img src="/static/Family.png" class="card-img" alt="Family">
        <div class="card-img-overlay">
          <h3 class="p-3 card-title">PRO RODINY</h3>
          <p class="p-3 card-text">Zapojte své děti do Vánočních aktivit a společně odhalte pravé kouzlo Vánoc.<br> 
          Být spolu a šťastní!</p>
        </div>
    </a>
<a href="{{ url_for('singles') }}" class="col-sm text-white custom-card"style="width: 18rem;">
        <img src="/static/Single.png" class="card-img" alt="Single">
        <div class="card-img-overlay">
          <h3 class="p-3 card-title">SINGLES</h3>
          <p class="p-3 card-text">Hodíme tě před Vánoci do zenu. Každý den Tě pomocí krátkých aktivit přiblížíme blíže vyrovnanosti a vnitřnímu klidu.</p>
        </div>
  </a>
</div>
<br>


{% endblock %}