{% extends "layout.html" %}

{% block content %}
<br>


<div class="container hompage_content ">
  <div class="row">
    <div class="col-md-12">
<p>Vánoce</p>


           <p>Zažijte tu tolik očekávanou atmosféru Vánoc plnou radost, klidu a pohody na vlastní kůži.<br>
           Nenechte se rozhodit stresem, shonem a nekonečným ruchem. </p>
          </div>
        </div>
    </div>
  </div>
</div>
<br>
<div class="card-deck hompage_content" >
    <div class="col-sm text-white"style="width: 18rem;">
        <img src="/static/Family.png" class="card-img" alt="Family">
        <div class="card-img-overlay">
          <h5 class="card-title">Pro rodiny</h5>
          <p class="card-text">Zapojte své děti do Vánočních aktivit a společně odhalte pravé kouzlo Vánoc.<br> 
          Být spolu a šťastní!</p>
        </div>
      </div>
    <div class="col-sm text-white"style="width: 18rem;">
        <img src="/static/Single.png" class="card-img" alt="Single">
        <div class="card-img-overlay">
          <h5 class="card-title">Singles</h5>
          <p class="card-text">Hodíme tě před Vánoci do zenu. Každý den Tě pomocí krátkých aktivit přiblížíme blíže vyrovnanosti a vnitřnímu klidu.</p>
        </div>
    </div>
</div>
<br>

{% endblock %}