<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8" />
    <!-- <input type="hidden" name="csrf_token" value=" csrf_token()}}" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpeciálníŠkolky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">


</head>
<body style="background-color:white;">


      {% block content %}

      {% endblock %}
<!-- Footer -->
<footer class="page-footer font-small grey bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: AdventníKalendář
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </div> 
  </body>
</html>