<!DOCTYPE html>
<html>
<head>
    
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>AdventníKalendář</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  


</head>
<body style="background-color:white;">




      {% block content %}

      {% endblock %}
<!-- Footer -->
<footer class="page-footer font-small grey bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: AdventníKalendář
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </div> 
  </body>
</html>