{% extends "layout.html" %}

{% block content %}
<br>
<div class="card text-white">
    <img src="/static/pernicky.png" class="card-img" alt="pernicky">
    <div class="card-img-overlay">
      <h2 class="card-title">PEČENÍ PERNÍČKŮ</h2>
      <h3 class="card-title text-center">8. prosince | 16 dní do Vánoc</h3>
      <br>
      <h6 class=" card-text hompage_content">Perníčky si upečte pěkně s předstihem, aby se stihly do Vánoc rozležet. Když před pečením uděláte do perníčků malou dírku, získáte krásné a chutné ozdoby na vánoční stromeček.</h6>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
          <h4 class="title">Suroviny</h4>

          230 g hladké mouky<br>
          140 g medu<br>
          60 g másla<br>
          2 vejce<br>
          2 lžičky perníkového koření<br>
          2 lžičky kakaa<br>
          3/4 lžičky prášku do pečiva<br>
          <br>
          <h5 class="title">Na polevu a perníkový rum:</h5>
          75 g moučkového cukru<br>
          tuzemák<br>
          hřebíček, badyán, skořice, anýz<br>
          vanilkový lusk (stačí použitý, bez zrníček)<br>
      </div>
      <div class="col-sm">
          <h4 class="title">Postup</h4>

          <div>1. Med a máslo dejte do misky a rozehřejte ve vodní lázni (nebo na velmi mírném plameni). Nechte chvilku vychladnout. Máslo s medem by nemělo být horké, zároveň ale musí zůstat tekuté.</div>
          
          <div>2. Do misky dejte mouku. Přidejte perníkové koření, kakao, prdopeč a promíchejte. Přidejte vejce, rozpuštěné máslo s medem a s pomocí vařečky nebo lžíce důkladně promíchejte. Těsto bude hodně lepit a bude se vám zdát děsně řídké, tak se nelekněte. Zakryjte fólií a dejte alespoň na 45 minut do lednice.</div>
          
          <div>3. Do rendlíku nalijte trochu rumu (stačí deci, pokud s ním nebudete mít další nekalé plány), přidejte koření a nakrájený vanilkový lusk. Přiveďte k varu. Odstavte, nechte vychladnout a všechno koření vyjměte. Troubu rozehřejte na 170 °C.</div>
          
          <div>4. Těsto v lednici mezitím pěkně ztuhne a přestane lepit. Přendejte ho na pomoučený vál a krátce prohnětejte. S pomocí válečku rozválejte na plát asi půl centimetru silný. Pohlídejte si, ať se vám rozválený plát nepřilepí na vál (vykrojené tvary by se pak špatně přenášely na plech).</div>
          
          <div>5. S pomocí vykrajovátek vykrojte jednotlivé perníčky, které opatrně přeneste na plech. Dejte do rozehřáté trouby a pečte 8 minut (pro větší perníčky klidně i 10 minut).</div>
          
          <div>6. Do misky dejte moučkový cukr a za stálého míchání přidávejte perníkový rum po troškách. Poleva by se měla lesknout a zůstat pěkně hustá. Upečené perníčky nechte vychladnout. Namočte je (z lícové strany) do polevy a nechte ztuhnout. Správnou texturu polevy si vždy zkuste na prvním perníčku. Jestli se poleva vsakuje, je potřeba vmíchat cukr navíc. Perníčky uschovejte do krabičky. Pokud totiž necháte perníčky volně, postupně zcela vyschnou a ztvrdnou.</div>
      </div>
    </div>
  </div>



{% endblock %}