{% extends "layout.html" %} {% block content %}
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <p>
        Zapojte své děti do Vánočních aktivit a společně odhalte pravé kouzlo
        Vánoc. Být spolu a šťastní!
      </p>
    </div>
  </div>
</div>

<div class="advent-calendar-footer"></div>
<div id="adventCalendar" class="container advent-calendar">
  {%for i in pole%}

  <div class="tile tile-small" id="day-{{i}}" data-day="{{i}}">
    <a href="#">{{i}}</a>
  </div>

  {%endfor%}
</div>
<div class="advent-calendar-footer"></div>

<script>
  const currentDate = new Date();
  const currentDay = currentDate.getDate();
  const dateWithLargeBox = [2, 4, 6, 11, 13, 15, 20, 22, 24];

  function openPresents() {
    document.getElementById(`day-${currentDay.toString()}`).className =
      "tile tile-today-small";
    document.getElementById(
      `day-${currentDay.toString()}`
    ).href = `{{ url_for('singles')}}`;

    const tiles = document
      .getElementById("adventCalendar")
      .getElementsByClassName("tile");

    for (let tile of tiles) {
      const tileDay = tile.id.substring(4);
      if (tileDay < currentDay) {
        document.getElementById(tile.id).className = "tile tile-past-small";
      }
    }

    /*    for (let date of pole) {
      if (date < currentDay) {
        if (date === dateWithLargeBox) {
          document.getElementById(date.toString()).className =
            "tile tile-past-large";
        } else {
          document.getElementById(date.toString()).className =
            "tile tile-past-small";
        }
      }
    }*/
  }
</script>
<script>
  openPresents();
</script>

<style>
  .advent-calendar {
    width: 50rem;
    margin: 0 auto 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .tile {
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    position: relative;
    margin-bottom: 2rem;
  }

  .tile > span {
    font-family: "Impact", serif;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: white;
  }

  .tile-small {
    width: 25%;
    background-image: url("../static/minbox.png");
  }

  .tile-past-small {
    width: 25%;
    background-image: url("../static/minboxopen.png");
  }

  .tile-small > span {
    left: 2.8rem;
  }

  .tile-large {
    width: 50%;
    background-image: url("../static/maxbox.png");
  }

  .tile-past-large {
    width: 50%;
    background-image: url("../static/maxboxopen.png");
  }

  .tile-large > span {
    left: 3rem;
  }

  .tile-today-small {
    width: 25%;
    background-image: url("../static/mintoday.png");
  }

  .tile-today-large {
    width: 25%;
    background-image: url("../static/maxtoday.png");
  }

  .advent-calendar-footer {
    height: 0.3rem;
    width: 40%;
    background-color: orange;
    margin: 2rem auto 3rem;
  }
</style>

{% endblock %}
