{% extends "layout.html" %} {% block content %}
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <p>Dnes je <span id="datum"></span></p>
    </div>
  </div>
</div>
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <p>
        Zažijte tu tolik očekávanou atmosféru Vánoc plnou radosti, klidu a
        pohody na vlastní kůži. Nenechte se rozhodit stresem, shonem a
        nekonečným ruchem.
      </p>
      <p>
        Zapojte své děti do Vánočních aktivit a společně odhalte pravé kouzlo
        Vánoc. Být spolu a šťastní!
      </p>
    </div>
  </div>
</div>

<div class="advent-calendar-footer"></div>
<div id="adventCalendar" class="container advent-calendar"></div>
<div class="advent-calendar-footer"></div>

<script>
  const currentDate = new Date();
  document.getElementById("datum").innerHTML = currentDate.toISOString();

  const dateArray = [...Array(25).keys()].slice(1);

  function createDateArray() {
    for (let date in dateArray) {
      let newElement = document.createElement("div");
      newElement.id = dateArray[date].toString();
      /*      newElement.innerHTML = dateArray[date].toString();*/
      if (
        date == 2 ||
        date == 4 ||
        date == 6 ||
        date == 11 ||
        date == 13 ||
        date == 15 ||
        date == 20 ||
        date == 22 ||
        date == 24
      ) {
        newElement.className = "tile tile-large";
      } else {
        newElement.className = "tile tile-small";
      }
      document.getElementById("adventCalendar").appendChild(newElement);
    }
  }
</script>
<script>
  createDateArray();
</script>

<style>
  .advent-calendar {
    width: 50rem;
    margin: 0 auto 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .tile {
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    position: relative;
    margin-bottom: 2rem;
  }

  .tile > span {
    font-family: "Impact", serif;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: white;
  }

  .tile-small {
    width: 25%;
    background-image: url("../static/minbox.png");
  }

  .tile-small > span {
    left: 2.8rem;
  }

  .tile-large {
    width: 50%;
    background-image: url("../static/maxbox.png");
  }

  .tile-large > span {
    left: 3rem;
  }

  .advent-calendar-footer {
    height: 0.3rem;
    width: 40%;
    background-color: orange;
    margin: 2rem auto 3rem;
  }
</style>

{% endblock %}
